html, body {
    margin: 0;
    height: 100%; 
    width: auto;
    
    
}


.bgcontainer {
    height: 100%;
    width: auto;
    min-width: 35%;
    
}

.bgcontainer img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}



.odinLogoText {
    color: white;
    position: absolute;
    top: 20%;
    left: 15%;
    font-family: "Skranji";
    font-size: 50px;

}

.transparentlogoBG {
    position: absolute;
    top: 20%;
    left: 0;
    background-color: red;
    height: 50px;
    width: 600px;
    

}


.headercontainer {
    background-color: #DEE1E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    
}

.headercontainer p {
    margin-left: 20px;
}



.formcontainer  {
    background-color: white;
    height: 20%;
    box-shadow: -1px 8px 5px -2px rgba(201,179,179,0.75);
    
    
}


.wholeContainer {
    display: flex;
    width: 100%;
    height: 100%;

}