html, body {
    margin: 0;
    height: 100%; 
    width: auto;
    overflow-y: hidden;
    font-family: sans-serif;
}

@font-face {
    font-family: NorseBold;
    src: url(fonts/Norse-Bold.otf);
}

.wholeContainer {
    display: flex;
    width: 100%;
    height: 100%;

}


.bgcontainer {
    height: 100%;
    min-width: 38%;
    
}
.bgcontainer img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}
.odinLogoText {
    color: white;
    position: absolute;
    top: 20%;
    height: 12%;
    font-family: "NorseBold";
    font-size: 80px;
    background-color: rgba(0,0,0,0.5);
    width: 38%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.odinLogoText img {
    width: auto;
    height: 80%;
    
}

.bgcontainer p {
    position:absolute;
    bottom: 0;
    left: 16%;
    color: white;
    
}

.bgcontainer a {
    color: white;
}

/* .transparentcontainer {
    position: absolute;
    top: 10%;
    right: 5%;
    background-color: rgba(0,0,0,0.5);
    height: 150px;
    width: 600px
    

} */


.headercontainer {
    background-color: #DEE1E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    
}

.headercontainer p {
    margin-left: 20px;
}



.formcontainer  {
    background-color: white;
    height: 20%;
    box-shadow: -1px 8px 5px -2px rgba(201,179,179,0.75);
    
    
}


